---
import '@fontsource-variable/roboto-flex'
import { ClientRouter } from 'astro:transitions'
import '../styles/main.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
  mainClass?: string
}

const { title, description, mainClass } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href=`https://www.adoryvo.com${Astro.url.pathname}` />
    <meta name="generator" content={Astro.generator} />

    <meta name="twitter:title" content="Adory Vo - Official Website" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="@adoryvo" />
    <meta name="twitter:card" content="summary" />

    <meta property="og:title" content="Adory Vo - Official Website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />

    <title>{title}</title>

    <ClientRouter />
  </head>
  <body>
    <div
      class="grid min-h-screen min-w-fit auto-rows-min content-between bg-primary bg-scales"
    >
      <Navbar />
      <div class="m-5 sm:container sm:mx-auto lg:my-32 lg:w-2/3">
        <main
          class={`card mx-auto rounded-xl border-4 border-dark bg-primary px-4 py-6 text-white sm:p-8 lg:w-3/4 ${mainClass}`}
        >
          <h1 class="mb-3 text-2xl font-semibold text-blue-200">
            {title}
          </h1>
          <slot />
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
